body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selected {
  background: none !important;
}
.rs-popover {
  margin-left:15px !important;
}
.rs-dropdown-menu {
  right:25% !important;
}

.rs-loader-spin::after{
  border-color: dodgerblue transparent transparent !important;
}